#navboth{
    display: flex;
}

#navboth>div{
    width:50%;
    /* border: 1px solid red; */
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color:blue;
    color: white;
    font-size: 40px;
}
a{
    color: white;
    text-decoration: none;
}
#box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:15px;
    margin-top: 40px;
}
#size{
    height: 50px;
}
#how{
    
   
    text-align: center;
}